
* {box-sizing:border-box;
margin: 0;
padding: 0;}
body{
    background-color: #005392;
    padding-left:30px;
    padding-right: 30px;

}
/* Slideshow container */
.slideshow-container {
  width: 100%;
  max-width: 1200px;
  position: relative;
  margin:0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  background-color: white;
  height: 80vh;
  padding: 30px 30px;

}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: black;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: -10px;
  border-radius: 3px 0 0 3px;
}
.prev{
    left: -10px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
  
}
.page-1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    position: relative;
}
.uniName{
    text-align: center;

}
.fiftyYears{
    text-align: center;
}
.fiftyYears span{
    color: blue;
}
.fromtoDate{
    text-align: center;
}
.adress{
    text-align: center;
    color: red;
    font-size: 18px;
}
.page-number{
    position: absolute;
    right: 0;
    bottom: -10px;
    font-weight: bold;
}
/* -----------2 */
.page-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 70vh;
    overflow-y: hidden;
    position: relative;
}
.udk{
    color: grey;
    width: 100%;
    max-width: 250px;
}
.redaction-team{
    text-align: center;
    /* margin-bottom: 10px; */
}
.team{
    text-align: center;
    line-height: 1.3;
}
.authors{
    text-align: center;
    /* margin-top: 10px;
    margin-bottom: 10px; */
}
.authorsNames{
    text-align: center;
    line-height: 1.3;
}
.participants{
    text-align: center;
}
.marsu-illustration span{
    font-weight: bold;
}
.book-info{
    margin-top: 10px;
}
.udk2{
    text-align: right;
}
.copyright{
    text-align: right;
    font-weight: bold;
}
/* ----page3 */
.page-3{
    display: flex;
    gap: 20px; 
 
}
.page-3 span{
    font-weight: bold;
}
.rector-img{
    width: 100%;
    max-width: 300px;
    max-height: 70vh;
}
.page3-text{
    display: flex;
    flex-direction: column;
    height: 70vh;
    /* justify-content: space-between; */
    /* position: relative; */
}
.dear-friends{
    text-align: center;
    margin-bottom: 10px;
}
.rector-bottom{
    position: absolute;
    bottom: 30px;
}
/* ------page 4 */
.page-4 h1{
    text-align: center;
}
.page-5 p{
    margin-bottom: 10px;
}
.page5-images{
    display: flex;
    justify-content: space-between;
    bottom: 0px;  
    margin-top: 50px;
    
}
.page5-images img{
    max-width: 500px;
    /* display: block;
    margin: auto; */
}
.page5-images p{
    max-width: 500px;
    font-weight: bold;
}
.page5-imagestwo{
    display: none;
}
.back5{
    background-image: url(img/main-campus.jpg);
    background-size: cover;
    height: 70vh;

}

/* --------6 */
.page-6{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    gap: 10px;
}
.page-6 img{
    width: 100%;
    max-width: 500px;
}
.page-6 p{
    text-align: center;
    font-weight: bold 
}
/* --------- 7*/
.first-rector{
    margin-top: 30px;
    display: flex;
    gap: 20px;
    align-items: center;
}
.first-rector img{
    max-width: 200px;
}
.first-rector p{
    font-weight: bold;
    max-width: 450px;
}
.anatomy-class{
    margin-top: 30px;

}
.anatomy-class img{
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;
}
.anatomy-class p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}

/* --------page9 */
.rector-class{
    margin-top: 30px;
}
.rector-class img{
    width: 100%;
    max-width: 500px;
    display: block;
    margin: auto;
}
.rector-class p{
    text-align: center;
    margin-top: 10px;
    font-weight: bold;
}
/* --------page10 */
.page-10{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-content:center ;
    align-items: center;
    height: 70vh;
}
.grid-center{
    margin: 0 auto;
    max-width: 500px;
}
.grid-center p{
    margin-top: 10px;
    font-weight:bold;
    text-align: center;
    max-width: 400px;
}
.page-10 img{
    display: block;
    max-width: 300px;
    height:200px ;
    margin: auto;
}
.graduates{
    margin-top: 30px;
    margin-bottom: 30px;
}
.graduates p{
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
}
.graduates img{
    max-width: 500px;
    width: 100%;
    display: block;
    margin: auto;
}
/* ------page-12 */
.page12-flex{
    display:flex;
    gap: 20px;
    margin: auto;
    justify-content: center;
}
.page12-flex div{
    max-width: 400px;
}
.page12-flex img{
    max-width: 400px;
    width: 100%;
}
.page12-flex p {
    margin-top: 10px;
    font-weight: bold;
    text-align: center;
}
.page12-graduates img{
    max-width: 400px;
    display: block;
    margin: auto;
    margin-top: 20px;
}
.page12-graduates p{
    margin-top: 10px;
    text-align: center;
    font-weight:bold;
    
}
/* --------page13 */
.page-13{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70vh;
    gap: 10px;
}
.page-13 div{
    max-width: 500px;
}
.page-13 img{
    width: 100%;
    max-width: 500px;
}
.page-13 p{
    text-align: center;
    font-weight: bold;
    width: 100%;
    max-width: 500px;
    margin: auto;
}