@media(max-width:1500px){
    .first-rector img{
        max-width: 100px;
    }
    .page5-images img{
        max-width: 400px;
    }
    .page5-images p{
        max-width: 400px;
        text-align: center;
    }
    .graduates img{
        max-width: 350px;
    }
    .page12-graduates img{
        display: none;
    }
    .page12-graduates p{
        display: none;
    }
    .page-30 img{
        max-width: 300px;
    }
}
@media(max-width:1400px){
    .page5-images{
        display: none;
    }
    .anatomy-class img{
        max-width: 500px;
    }
    .rector-class img{
        max-width: 300px;
        margin-bottom: 20px;
    }
    .page-10{
        gap: 5px;
        margin-top:-20px ;
    }
    .grid-center p{
        font-size: 12px;
    }
    .page-14 p{
        font-size:  12px;
    }
    .page14-flex{
        margin-bottom: 5px;
    }
    .page-14 img{
        max-width: 250px;
        max-height: 150px;
    }
    .page-14 p{
        max-width: 250px;
    }
    .ivshin{
        max-width: 200px;
    }
    .ivshin-cont p{
        font-size: 12px;
    }
    .team{
        max-width: 300px;
    }
    .page20img-flex{
        margin-top: 20px;
    }
    .lukhin-computer{
        max-width: 300px;
    }
    .newp-flex {
        margin-top: 30px;
    }
    .newp-flex img{
        width: 100%;
        max-width: 300px;
    }
    .page33-grid img{
        max-width: 250px;
    }
    .happy-students{
        max-width: 500px;
    }
}
@media(max-width:1200px){
    .page5-images{
        display: none;
    }
    .mobile1{
        display: block !important;
    }
    .page5-imagestwo{
        display: flex;
        flex-direction: column;
    }
    .page5-imagestwo img{
        width: 100%;
        max-width: 400px;
    }
    .page5-imagestwo p{
        max-width: 400px;
    }
    .back5{
        background-image: unset;
    }
    .page22-flex img{
        max-width: 300px;
    }
    .newp-flex{
        display: none;
    }
    .ticket{
        display: none;
    }
    .stand-reading{
        display: none;
    }
    .page-35{
        height: unset;
        flex-direction: column;
    }
    .page-35 img{
        height: 200px;
        width: 200px;
        margin: auto;
        display: block;
    }
    .onogev-cont p{
        max-width: 300px;
    }
}

@media(max-width:1100px){
    .page-6, .page-13{
        flex-direction:column;
        height: unset;
        gap: 50px;
    }
    .page-13 p{
        max-width: 300px;
    }
    .page-6 img, .page-13 img{
        max-width: 300px;
    }
    .lukhin-container{
        display: none;
    }


}
@media(max-width:1000px){
    .rector-class{
        display: none;
    }
    .first-rector{
        display: none;
    }
    .graduates{
        display: none;
    }
    .page12-flex{
        flex-direction: column;
    }
    .page12-graduates{
        display: none;
    }
    .page15-flex{
        display: none;
    }
    .sokolov{
        max-width: 200px;
    }
    .ivshin-cont{
        display: none;
    }
    .page17-flex{
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap:10px ;
    }
    .page-17 img{
        max-width: 200px;
        max-height:200px ;

    }
    .page-17 p{
        font-size: 16px;
        max-width: 200px;
    }
    .page21-flex{
        margin-top: 10px;
        flex-direction: column;
        gap: 10px;
    }
    .page21-flex img{
        max-width: 100px;
        max-height:100px;
    }
    .page21-flex p{
        max-width: 200px;
        display: block;
        margin: auto;
    }
    .rector-friends{
        display: none;
    }
    .page20img-flex{
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }
    .page20-images p{
        font-size: 14px;
    }
    .page32-flex{
        margin-top: 30px;
        align-items: center;
        flex-direction: column;
        gap: 10px;
    }
    .statue{
        display: none;
    }
    .center{
        display: none;
    }
    .page33-grid{
        grid-template-columns: 1fr;
    }
    .page-33 h2{
        font-size: 16px;
    }
    .page-40{
        flex-direction: column;
    }
    .page-40 img{
        max-width: 200px;
        max-height:200px;
        margin: auto;
        display: block;
    }
    .page-40 p{
        max-width: 200px;
        text-align: center;
        display: block;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .schools-flex{
        flex-direction: column;
    }
    .two-btns{
        gap: 400px;
    }
}
@media(max-width:950px){
    .uniName{
        font-size: 25px;
    }
}
@media(max-width:900px){
    .two-btns{
        gap: 300px;
    }
    .btn{
        font-size: 16px;
    }
}
@media(max-width:800px){
    .page27 p{
        max-width: 200px;
    }
    .page-3{
        gap: 10px;
        flex-direction: column;
    }
    .rector-img{
        width: 100px;
        height: 100px;
        display: block;
        margin: 0 auto;
    }
    .uniName{
        font-size: 25px;
    }
    .page3-text p{
        font-size: 14px;
    }
    .page-10 img{
        max-width: 200px;
        height:100px ;
    }
    .page-10 p{
        font-size: 12px;
    }
    .page-10{
        grid-template-columns: 1fr;
    }
    .page-14 p{
        font-size: 14px;
    }
    .page14-flex{
        flex-direction: column;
    }
    .page14-flex2{
        display: none;
        align-items: center;
        justify-content: center;
    }
    .page14-flex div{
        margin:auto ;
        display: block;

    }
    .page14-flex img{
        display: block;
        margin: auto;
    }
    .page-14 p{
        margin-top: 1px;
        margin-bottom: 15px;
    }
    .page-16 p{
        font-size: 14px;
    }
    .page-20 p{
        font-size: 14px;
    }
    .page22-flex img{
        max-width: 200px;
    }
    .page-22 p{
        font-size: 12px;
    }
    .page-23 p{
        font-size:14px;
    }
    .page-35 p{
        font-size: 14px;
    }
    .vertical{
        display: none;
    }
    .pro, .pro-flex{
        font-size: 12px;
    }
    .pro1{
        max-width: 150px;
    }

    .arc{
        display: none;
    }
    .wrapper{
        background-image: url(img/back-mobile.png);
        justify-content: flex-start;
        padding-top: 50px;
    }
}
@media(max-width:700px){
   
    .uniName{
        font-size: 20px;
    }
    .fiftyYears{
        font-size: 18px;
    }
    .fromtoDate{
        font-size: 18px;
    }
    .dear-friends{
        font-size: 25px;
    }
    .page3-text p{
        font-size: 12px;
    }
    .steps{
        font-size: 20px;
    }
    .page-35 img{
        width: 150px;
        height: 150px;
    }
    .two-btns{
        gap: 200px;
    }
}
@media(max-width:600px){
    .page-7 p{
        font-size: 14px;
    }
    .page-9 p{
        font-size: 14px;
    }
    .page-11 p{
        font-size: 14px;
    }
    .anatomy-class img{
        max-width: 200px;
    }
    .page12-flex img{
        max-width: 300px;
        margin: auto;
        display: block;
    }
    .page12-flex div{
        margin: auto;
        display: block;
    }
    .page-15 p{
        font-size: 14px;
    }
    .ansamble{
        display: none;
    }
    .page-18 p{
        font-size: 14px;
    }
    .page-20 p{
        font-size: 12px;
    }
    .page22-flex img{
        max-width: 150px;
    }
    .page-23 p{
        font-size:12px;
    }
    .page-35 p{
        font-size: 12px;
    }
    .two-btns{
        gap: 100px;
    }
}
@media(max-width:500px){
   
    .dear-friends{
        font-size: 16px;
        margin-bottom: 5px;
    }
    .page-2 h2{
        font-size: 18px;
    }
    .page-2 p{
        font-size: 14px;
    }
    /* .rector-bottom{
        bottom: 100px;
    } */
    .page-5 p{
        font-size: 12px;
    }
    .page-7 p{
        font-size: 12px;
    }
    .page-8 p{
        font-size: 12px;
    }
    .page-12 p{
        font-size: 12px;
    }
    .page-14 p{
        font-size: 12px;
    }
    .page-16 p{
        font-size: 12px;
    }
    .page-16 p{
        font-size: 12px;
    }
    .page-18 p{
        font-size: 12px;
    }
    .page22-flex{
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
    .page-23 p{
        font-size:10px;
    }
    .students-indians{
        display: none;
    }
    .page32-flex{
        max-width: 200px;
        align-items: center;
        margin-top: 10px;
    }
    .page32-flex{
        margin-top: 10px;
        margin: auto;
        padding-top: 10px;
    }
    .page-35 p{
        font-size: 10px;
    }
    .off{
        display: none;
    }
    .rec{
        font-size:12px;
    }
    .two-btns{
      flex-direction: column;
      gap: 20px;
    }
    .btn{
        text-align: center;
    }
}
@media(max-width:400px){
    .page3-text p{
        font-size: 10px;
    }
    .page-3{
        gap: 5px;
        flex-direction: column;
    }
    .rector-img{
        width: 80px;
        height: 80px;
    }
    .uniName{
        font-size: 18px;
    }
    .fiftyYears{
        font-size: 16px;
    }
    .fromtoDate{
        font-size: 16px;
    }
    .adress{
        font-size: 16px;
    }
    .page-7 p{
        font-size: 10px;
    }
    .page-9 p{
        font-size: 12px;
    }
    .page-11 p{
        font-size: 12px;
    }
    .page-9 p span{
        display: none;
    }
    .page-5 p{
        font-size: 10px;
    }
    .page-16 p{
        font-size: 10px;
    }
    .page-18 p{
        font-size: 10px;
    }
    .page-20 p{
        font-size: 10px;
    }
    .page-23 span{
        display: none;
    }
    .medical span{
        display: none;
    }
    .super{
        display: none;
    }
    .kaf{
        display: none;
    }
    .ermeev{
        display: none;
    }
}
@media(max-width:350px){
    .page-5 p{
        font-size: 10px;
    }
    .page-9 p{
        font-size: 10px;
    }
    .page-11 p{
        font-size: 10px;
    }
}
@media(max-height:750px){
    .page-11 span{
        display: none;
    }
    .ns{
        display: none;
    }
    .ns-p{
        display: none;
    }
}



